#sobre-nos {
    background-image: image-url('banner.jpg');
}

.sobre-bloco {
    background-color: #F2F2F2;
    margin: 2em;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4em;
}

.titulo-bloco {
    font-size: 1.6em;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.triangle {
    margin-left: -1.65em;
}
