/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "pagefooter";
@import "navbar";

body {
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}

.banner {
    height: 40em;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 0;
    color: #FFF;
}

.jumbotron {
}

.table {
  background-color: white;
}

.messages {
  text-align: center;
  margin: 0 10px 0 10px;
}

#flash_alert {
  color: #D6938A;
}

.alert-success {
  background-color: #A4DBE8;
  border-color: #87cddd !important;
  color: #000;
}

.sobre {
    background-color: rgba(255, 252, 0, 0.6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sobre-texto {
    padding-top: 15%;
    vertical-align: middle;
    font-size: 1.4em;
}

#main-banner {
    background-image: image-url('main_back.jpg');
}

h1.title {
    font-size: 1.8em;
}
