/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  background-color: #fff;
  font-family: 'Montserrat', sans-serif; 
  a {
    color: #302f2f;
    vertical-align: center;
  }
  height: 70px;
  padding-top: 9px;
}

#senses {
  font-size: 30px;
}

.possibi {
    color: #A4DBE8;
    font-family: 'Capriola', sans-serif;
}

.lita {
    color: #D6938A;
    font-family: 'Pacifico', cursive;
}

.jumbotron {
  margin: 30px;
  background-color: white;
  color: #D6938A;
}

.intro {
    color: #1E1E24;
    font-family: 'Capriola', sans-serif;
    line-height: 30px;
    font-size: 18px;
}

.login-box {
  background-color: white;
  width: auto;
  border-radius: 10px;
  border: 1px solid #D6938A;
  padding: 10px;
  margin: 10px;
}

.table {
  background-color: white;
}

.messages {
  text-align: center;
  margin: 0 10px 0 10px;
}

#flash_alert {
  color: #D6938A;
}

.alert-success{
  background-color: #A4DBE8;
  border-color: #87cddd !important;
  color: #000;
}
