// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bottom-button {
	position: absolute;
 	bottom: 30px;
  	right: 10px;
}

.btn-default {
	background-color: #FFFF00 !important;
	border-color: #FFF !important;
}

.project_title {
	color: #000;
}

.project_title:hover {
	color: #000;
}

.thumbnail {
	border: none;
}

.each_project {
	border: none;
}
