#footer-up {
    background-color: #E0E0E0;
}

#footer-up h6 {
    font-size: 1.6em;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
}

#footer-up p {
    font-size: 1.4em;
    font-family: 'Roboto Light', sans-serif;
    font-weight: 300;
}

#footer-down {
    background-color: #FFFC00;
}

#footer-down p {
    font-size: 1.4em;
    font-family: 'Roboto', sans-serif;
}
