#footer-up {
    background-color: #E0E0E0;
    padding-top: 22px;
}

#footer-up h6 {
    font-size: 1.6em;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
}

#footer-up p {
    font-size: 1.4em;
    font-family: 'Roboto Light', sans-serif;
    font-weight: 300;
}

#footer-down {
    background-color: #FFFC00;
}

#footer-down p {
    font-size: 1.4em;
    font-family: 'Roboto', sans-serif;
}
#footer-icons {
    margin-top: 23px;
    margin-bottom: 45px; 
}
#yellow-icon {
    color: #FFFC00;
}
#black-icon {
    color: #000;
}
.margin-right20 {
    margin-right: 20px;
}