@import "bootstrap-sprockets"
@import "bootstrap"
@import "pagefooter"
@import "navbar"

.breadcrumb
    background-color: transparent !important

.breadcrumb-item a
    color: #333

.breadcrumb-item a:hover
    color: #333

.btn-primary
    background-color: #FFFC00 !important
    border: none !important
    color: #333 !important

.sobre-bloco
    padding: 23px
